<h1></h1>
<form action="/expenses" method="post">
            <div class="space">
                <input name="category" type="text" id="inputBox" class="small-input" maxlength="10">
                <input name="amount" type="text" id="t-amount" class="small-input" maxlength="10">
                <input name="day" type="date"   >
            </div>
            <button id="addButton" type="submit">Add</button>
        </form>